
<table class="table table-bordered ">

  <tbody>
  <thead>
    <tr>
      <th>Task</th>
      <th class="status">Status</th>
      <th>Option</th>
    </tr>
    </thead>
    <% @lists.each do |list| %>
    <% if list.completed%>
      <tr class="table-success striker">
        <td><%= link_to list.description, edit_list_path(list) %></td>
        <td class="status"> <center>
        <%= form_for(list) do |f| %>
        <%= f.text_field :description, type: 'hidden' %>
        <%= f.check_box :completed, :checked => false, :style => 'text-decoration: line-through;visibility: hidden' %>
        <%= f.submit "Completed", class: 'btn btn-outline-secondary btn-sm' %>
        <%end%></center>
        </td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% else%>
    <tr>
        <td><%= link_to list.description, edit_list_path(list) %></td>
        <td class="status"> <center>
        <%= form_for(list) do |f| %>
        <%= f.text_field :description, type: 'hidden' %>
        <%= f.check_box :completed, :checked => true, :style => 'visibility: hidden' %>
        <%= f.submit "Not Complete", class: 'btn btn-outline-secondary btn-sm' %>
        <%end%></center>
        </td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
